@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;700;900&display=swap');

:root {
    /* colors */
    --gradient: linear-gradient(90deg, #d50006, #502479);
    --red: #d50006;
    --purple: #502479;
    --white: #ffffff;
    --black: #000000;
    --lightgrey: #b3b2b2;
    --darkgrey: #686868;

    /* fonts */
    --font-family: 'Noto Sans JP', sans-serif;
    --h1-size: 32px;
    --h1-weight: 700;
    --h2-size: 26px;
    --h2-weight: 700;
    --h3-size: 20px;
    --h3-weight: 400;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--black);
}

/*  Schriften 
    =============================*/

/* Positionierung Überschrift - abgestimmt auf h1-size in xaringanthemer */
h1 {
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  margin-top: -65px;
  margin-left: -00px;
}

h2 {
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
}

h3 {
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
}

.xxxlarge {
  font-size: 28px;
}

.small {
  font-size: 16px;
}

.tiny {
  font-size: 10px;
}

.bold {
  font-weight: bold;
}

/*  Layout Titelseite 
    =============================*/

.title-slide {
  background-color: var(--gradient);
  border-top: 50px solid var(--gradient);
}

.title-slide .remark-slide-number {
  display: none;
}


.title-slide h1  {
  font-size: 40px;
  text-shadow: none;
  text-align: left;
  margin-left: 15px;
  padding-top: 80px;
}

.title-slide h2  {
  margin-top: -25px;
  padding-bottom: -20px;
  font-size: 35px;
  text-align: left;
  margin-left: 15px;
}
.title-slide h3  {
  text-align: left;
  font-size: 26px;
  margin-left: 15px;
  margin-bottom: -30px;
}

/* Querbalken Titelseite*/
hr, .title-slide h2::after, .mline h1::after {
  content: '';
  display: block;
  border: none;
  background-color: var(--white);
  color: var(--white);
  height: 3px;
}
hr, .mline h1::after {
  margin: 1em 15px 0 15px;
}

/* falls nötig inverse title-slide */
.title-slide .inverse .remark-slide-content {
  background-color: var(--gradient);
}


/* inserts colored bar on top of the slide  */
.remark-slide-content {
  background-color: var(--white);
  border-top: 50px solid var(--gradient);
  font-weight: 300;
  line-height: 1.5;
  padding: 1em 2em 1em 2em;
}



/* Removes colored bar from top of the slide resulting in a clear slide */
.clear{
  border-top: 0px solid var(--white);
}

/* Farben*/

.red {
  color: var(--red);
}

.purple {
  color: var(--purple);
}

.grey {
  color: var(--darkgrey);
}

/*Farbabstimmung untergeordnete Überschriften */

.remark-slide-content h2 {
  font-size: 22px;
  color: var(--black);
}

.remark-slide-content h3 {
  font-size: 18px;
  color: var(--black);
}

/*Text Blockquote*/
.blockquote {
  border-left: solid 5px var(--red);
  padding-left: 1em;
}


/*Textformatierung*/
.quelle {
  font-size: 10px;
  position: absolute;
  right: 5%;
  bottom: 5%;
}


.quellePan {
  font-size: 10px;
  position: absolute;
  margin-bottom: 5px;
  right: 0;
}

.quellePanURL {
  font-size: 10px;
  position: absolute;
  right: 0;
  bottom: -5px;
}


.bold-last-item > ul > li:last-of-type,
.bold-last-item > ol > li:last-of-type {
  font-weight: bold;
}
